input {
  margin-top: 10px;
}

h1 {
  margin-left: 12px;
}

.inputForm {
  padding-top: 20px;
}
.loginForm button {
  margin-top: 20px;
  margin-left: 20px;
}

input.ng-touched.ng-invalid {
  border: solid red 2px;
}
.table-content {
  margin-bottom: 10px;
  margin-left: 20px;
  margin-top:20px;
}
.errorMSG {
  margin-left: 14px;
  margin-top: 10px
}
