  <!--Страница логина-->
<div class="col-sm-3"></div>
<div class="col-sm-9">
    <div class="loginForm">
      <div *ngIf="!logged">
        <h1 class="nameField">Поле Логина</h1>
        <div class="col-xs-3 inputForm">
          <label>Логин:</label>
          <input class="form-control" type="text" name="name" [(ngModel)]="nameLog" />
        </div>
        <div class="clearfix"></div>
        <div class="col-xs-3 inputForm">
          <label>Пароль:</label>
          <input class="form-control" type="password" name="pass" [(ngModel)]="passLog" />
        </div>
        <div class="clearfix"></div>
        <button class="btn btn-default" (click)="login()">Войти</button>
        <button class="btn btn-default" routerLink="/register">Регистрация</button>
      </div>
      <div *ngIf="errorName && !logged" class="alert alert-danger col-sm-3">{{errorName}}</div>
    </div>




    <!--Страница с таблицей-->
    <div *ngIf="logged">
      <div>
        <h4 class="table-content">Привет {{nameLog}}</h4>
        <button class="btn btn-default table-content" (click)="exit()">Выйти</button>
      </div>
      <input type="button" value="Загрузить таблицу" class="btn btn-default table-content" (click)="loadTable()" />
      <input [disabled]="!loaded" class="btn btn-default table-content" type='button' value="Сохранить в файл" (click)="download()"  />
      <input [disabled]="!loaded" class="btn btn-default table-content" type='button' value="Отправить сообщение" (click)="sendEmail()"  />
      <input [disabled]="!loaded" class="btn btn-default table-content" type='button' value="Показать превью" (click)="previewTable()"  />
      <br />
      <app-grid class="table-content"[tableData]="dataTable"></app-grid>
    </div>
</div>

