/* You can add global styles to this file, and also import other style files */
@import "~ag-grid-community/dist/styles/ag-grid.css";
@import "~ag-grid-community/dist/styles/ag-theme-balham.css";
@import "~ag-grid-community/dist/styles/ag-theme-material.css";

.ag-theme-material .selected-rows {
  background-color: #eb3731 !important;
}
.ag-theme-material .nowDay-rows {
  background-color: #FF8700 !important;
}


