<div class="col-xs-3"></div>
<div class="col-xs-3">
  <h1>Поле Регистрации</h1>
  <div class="inputDiv">
    <label>Логин:</label>
    <input class="form-control" type="text" name="name" [(ngModel)]="nameReg" #name="ngModel" required />
  </div>
  <div class="inputDiv">
    <label>Имя:</label>
    <input class="form-control" type="text" name="secName" [(ngModel)]="secondNameReg" required />
  </div>
  <div class="inputDiv">
    <label>Пароль:</label>
    <input class="form-control" type="password" name="pass" [(ngModel)]="passReg" #pass="ngModel" required />
  </div>
  <div class="inputDiv">
    <label>E-Mail:</label>
    <input class="form-control" type="email" name="email" [(ngModel)]="emailReg" #email="ngModel" required pattern="[0-9a-zA-Z_]+@[a-zA-Z_]+?\.[a-zA-Z]{2,3}" />
  </div>
  <div class="form-group">
    <button class="btn btn-default" routerLink="/">Назад</button>
    <button [disabled]="name.invalid || email.invalid || pass.invalid" class="btn btn-default" (click)="registerUser()">Добавить</button>
  </div>
  <div *ngIf="errorName" class="alert alert-danger col-sm-12 errorMSG">{{errorName}}</div>
</div>
