<div class='container-fluid'>
  <div class='row'>
    <div class="col-sm-12" style="height:50px;background-color:#9933FF">

    </div>
    <div class='col-sm-12 body-content'>
      <router-outlet></router-outlet>
    </div>
  </div>

</div>
