<p>
  <ag-grid-angular style="width: 1017px; height: 500px;"
                   class="ag-theme-material"
                   [rowData]="rowData"
                   [columnDefs]="columnDefs"
                   [enableSorting]="true"
                   [enableFilter]="true"
                   [rowClassRules]="rowClassRules"
                   [enableColResize]="true">
  </ag-grid-angular>
</p>
